# fsv configuration file

[Settings]
remember_session=true
default_vis_mode=mapv
default_color_mode=wildcard
default_scale_mode=logarithmic
last_vis_mode=mapv
last_color_mode=wildcard
last_scale_mode=logarithmic

[Color]
mode=wildcard

[NodeType]
directory=#A0A0A0
regularfile=#FFFFA0
symlink=#FFFFFF
pipe=#00FF00
socket=#FF8000
chardevice=#00FFFF
blockdevice=#4CA0FF
unknown=#FF0000

[Timestamp]
spectrumtype=rainbow
timestamptype=modify
period=604800
oldcolor=#BFBFBF
newcolor=#BFBFBF

[Wildcard]
default=#DEDDDA
exec_color=#00FF00
override_typed_exec=false

[Wildcard:1]
color=#00FF00
name=Executables and Scripts
patterns=*.cmd;*.exe;*.com;*.btm;*.bat;*.sh;*.bash;*.zsh;*.fish;*.ps1;*.bin;*.app;*.msi;

[Wildcard:2]
color=#FF0000
name=Archives and Compressed
patterns=*.tar;*.bz2;*.tgz;*.arj;*.taz;*.lzh;*.zip;*.z;*.Z;*.gz;*.7z;*.rar;*.xz;*.iso;*.lzma;*.pkg;*.deb;*.rpm;

[Wildcard:3]
color=#FF00FF
name=Images
patterns=*.jpg;*.png;*.gif;*.bmp;*.xpm;*.tif;*.jpeg;*.tiff;*.webp;*.svg;*.ico;*.heic;*.raw;*.cr2;*.dng;

[Wildcard:4]
color=#0000FF
name=Backups and Logs
patterns=*~;*.old;*.bak;*.orig;*.tmp;*.temp;*.swp;*.swo;*.log;

[Wildcard:5]
color=#FFA500
name=Plain Text and Config
patterns=*.txt;*.md;*.csv;*.json;*.xml;*.yml;*.yaml;*.ini;*.cfg;*.conf;*.erb;*.epp;

[Wildcard:6]
color=#DD9500
name=Documents
patterns=*.doc;*.docx;*.xls;*.xlsx;*.ppt;*.pptx;*.rtf;*.odt;*.tex;

[Wildcard:7]
color=#00FFFF
name=Audio
patterns=*.mp3;*.wav;*.flac;*.ogg;*.m4a;*.aac;*.wma;

[Wildcard:8]
color=#FFFF00
name=Video
patterns=*.mp4;*.mkv;*.avi;*.mov;*.wmv;*.flv;*.webm;

[Wildcard:9]
color=#A020F0
name=Source Code
patterns=*.pp;*.c;*.cpp;*.h;*.hpp;*.py;*.js;*.ts;*.html;*.css;*.java;*.go;*.rs;*.rb;*.php;

[Wildcard:10]
color=#B5FFA6
name=Libraries
patterns=*.a;*.so;
