# fsv configuration file

[Settings]
remember_session=false
default_vis_mode=mapv
default_color_mode=wildcard
default_scale_mode=logarithmic

[Color]
mode=wildcard

[NodeType]
directory=#A0A0A0
regularfile=#FFFFA0
symlink=#FFFFFF
pipe=#00FF00
socket=#FF8000
chardevice=#00FFFF
blockdevice=#4CA0FF
unknown=#FF0000

[Timestamp]
spectrumtype=rainbow
timestamptype=modify
period=604800
oldcolor=#0000FF
newcolor=#FF0000

[Wildcard]
default=#FFFFA0

[Wildcard:1]
name=Executables and Scripts
color=#00FF00
patterns=*.cmd;*.exe;*.com;*.btm;*.bat;*.sh;*.bash;*.zsh;*.fish;*.ps1;*.bin;*.app;*.msi;

[Wildcard:2]
name=Archives and Compressed
color=#FF0000
patterns=*.tar;*.bz2;*.tgz;*.arj;*.taz;*.lzh;*.zip;*.z;*.Z;*.gz;*.7z;*.rar;*.xz;*.iso;*.lzma;*.pkg;*.deb;*.rpm;

[Wildcard:3]
name=Images
color=#FF00FF
patterns=*.jpg;*.png;*.gif;*.bmp;*.xpm;*.tif;*.jpeg;*.tiff;*.webp;*.svg;*.ico;*.heic;*.raw;

[Wildcard:4]
name=Backups and Logs
color=#0000FF
patterns=*~;*.old;*.bak;*.orig;*.tmp;*.temp;*.swp;*.swo;*.log;

[Wildcard:5]
name=Text and Config
color=#FFA500
patterns=*.txt;*.md;*.csv;*.json;*.xml;*.yml;*.yaml;*.ini;*.cfg;*.conf;*.erb;*.epp;

[Wildcard:6]
name=Audio
color=#00FFFF
patterns=*.mp3;*.wav;*.flac;*.ogg;*.m4a;*.aac;*.wma;

[Wildcard:7]
name=Video
color=#FFFF00
patterns=*.mp4;*.mkv;*.avi;*.mov;*.wmv;*.flv;*.webm;

[Wildcard:8]
name=Source Code
color=#A020F0
patterns=*.pp;*.c;*.cpp;*.h;*.hpp;*.py;*.js;*.ts;*.html;*.css;*.java;*.go;*.rs;*.rb;*.php;
